.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 30px;
}
.iconHeader{
  width: 30px;
}
.App-header:hover{
  background-color: white;
}
.App-header-center div {
  display: flex;
  align-items: center;
  color: black;
  gap: 26px;
}
